@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
    background-color: lightblue;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(32, 32, 32);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

button {
    display: block;
    width: 100px;
    background-color: aliceblue;
}

#main-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
}

#grid-container {
    margin: 0px auto;
    width: max-content;
    background-color: transparent;
    display: grid;
    gap: 0px;
    border-collapse: true;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: white;
}

#grid-container div {
    box-sizing: border-box;
    background-color: white;
}