@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
:root {
    --main-dark-gray: rgb(32, 32, 32);
}

body {
    background-color: rgb(232, 232, 232);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--main-dark-gray)
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

button {
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid var(--main-dark-gray);
    background-color: white;
    margin: 10px 100px;
    margin-bottom: 30px;
    padding: 5px;
    transition: all 200ms;
}

button:hover {
    transform: scale(1.1);
}

#main-container {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
}

#control-container {
    margin-top: 20px;
}

#grid-container {
    width: max-content;
    height: max-content;
    background-color: transparent;
    display: grid;
    gap: 0px;
    border-collapse: collapse;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px lightgrey;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: white;
}

#grid-container div {
    box-sizing: border-box;
    background-color: white;
}